/VEOs - VERS 2 Post Ingest/
/VEOs - VERS 2 Pre Ingest/
/VEOs - VERS 3 Pre Ingest/
/output/
/output1/
/src 20180416/
/test/
/VPA.pptx
/res.txt
/vers.dtd
/test - Src/
/demo-input/
/demo-output/
/acceptTests/
/test3/
/testVEOs/
/dist/
/test-V3-System/